@model AppUserVM
@{
    ViewBag.Title = "ResetPasswordMailSend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@ViewBag.info
@using(Html.BeginForm("ResetPasswordMailSEnd","Home",FormMethod.Post, new {enctype = "multipart/form-data" }))
 {
          @Html.TextBoxFor(x => x.AppUser.Email, new { @placeholder ="Email adresini giriniz", @class="login_input" }) @Html.ValidationMessageFor(x => 
            x.AppUser.Email)
      
    <div class="login_control topPersonal">
        <button type="submit" class="btn btn-md btn--warning btn--wider "> Şifreyi Sıfırlayınız</button>

    </div>


 }

